body {
  background: #555b2f;
  padding: 50px;
  color: #ffffff;
  font-family: "Montserrat"
}

p {
  font-size: 16pt;
}

strong {
  color: #d3b078
}

h1 {
  font-family: "Lobster";
  font-size: 70pt;
  color: #d3b078;
  text-shadow: 6px 6px 6px #3d2c25;
}

h2 {
  font-family: "Lobster";
  font-size: 40pt;
  color: #d3b078;
  text-shadow: 6px 6px 6px #3d2c25;
}

a {
  color: #d3b078;
  font-weight: 700;
}

a:hover {
  color: white;
  text-decoration: none;
}

.image-kutus {
  max-width: 600px;
  width: 100%;
}

.image-info {
  height: 200px;
  width: auto;
  max-width: 220px;
}

.time-box {
  font-size: 5vw;
  background: #3d2c25;
  color: #d3b078;
  border-radius: 10px;
  padding: 1vw;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.btn-warning {
  background: #d3b078;
  color: #3d2c25;
  margin-top: 20px;
  margin-bottom: 20px;
  /* font-size: 4vw; */
}

.btn-warning:hover {
  background: #3d2c25;
  color: #d3b078;
}

.item-box-parent {
  padding: 0;
}

.item-box {
  background: #51562e;
  padding: 25px;
  margin: 5px;
}

.khasiat-box {
  background: #51562e;
  padding: 25px;
  margin: 5px;
}

.item-box:hover {
  background: #3e4223;
}

@media (max-width: 400px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
