@charset "utf-8";

@font-face {
    font-family: Laudanum;
    src: url(fonts/LAUDANUM.otf);
}

@font-face {
    font-family: himalaya;
    src: url(fonts/himalaya.ttf);
}

/* Banner */

	#banner {
		background-attachment: fixed;
		/* background-color: #272833; */
		background-image: url("images/home.jpg");
		background-position: center center;
		background-size: cover;
		box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
		min-height: 100vh;
		position: relative;
		text-align: center;
		z-index: 21;
	}

		#banner:before {
			content: '';
			display: inline-block;
			height: 100vh;
			vertical-align: middle;
			width: 1%;
		}

		#banner:after {/*
			background-image: -moz-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");;
			background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");;
			background-image: -ms-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");;
			background-image: linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");;*/
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		#banner .content {
			display: inline-block;
			margin-right: 1%;
			max-width: 95%;
			padding: 6em;
			position: relative;
			text-align: right;
			vertical-align: middle;
			z-index: 1;
		}

			#banner .content header {
				display: inline-block;
				vertical-align: middle;
			}

				#banner .content header h2 {
					font-size: 2.5em;
					margin: 0;
				}

				#banner .content header p {
					margin: 0.5em 0 0 0;
					top: 0;
				}
			
		#banner .content .intro-text .intro-lead-in{
			text-align: center;
			color: #FFF;
			font-family:himalaya;
			font-size: 13pt;
			margin-bottom:25px
		}
			#banner .content .image {
				border-radius: 100%;
				display: inline-block;
				height: 18em;
				margin-left: 3em;
				vertical-align: middle;
				width: 18em;
			}

				#banner .content .image img {
					border-radius: 100%;
					display: block;
					width: 100%;
				}

	body.is-touch #banner {
		background-attachment: scroll;
	}


body{
	overflow-x:hidden;
}

/*
header{
	background-image:url(images/home.jpg);
	background-repeat:none;background-attachment:scroll;
	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	text-align:center;color:#fff
}

header .intro-text{
	padding-top:50px;
	padding-bottom:50px
}

header .intro-text .intro-lead-in{
	font-family:himalaya;
	line-height:22px;margin-bottom:25px}header .intro-text .intro-heading{
		font-family:himalaya;
		text-transform:uppercase;
		font-size:13.5pt;margin-bottom:25px
}

@media (min-width:768px){
	header .intro-text{
		padding-top:155px;padding-bottom:155px
	}
	header .intro-text .intro-lead-in{
		font-family:himalaya;
		font-size:13.5pt;
		line-height:auto;
	}
	header .intro-text .intro-heading{
		font-family:himalaya;
		text-transform:uppercase;font-weight:700;font-size:75px;line-height:75px;margin-bottom:50px
	}
}
*/

.button-home {
	text-decoration: none;
	color:#6f6f6f;
	background-color:#fdde6a;
	border-color:#fdde6a;
	font-family:himalaya;
	font-style: normal;
	font-size: 18pt;
	padding: 15px;
}

.button-home :hover {
	color: white;
}

.btn-primary{color:#fff;background-color:#858585;border-color:#858585;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#858585;border-color:#909090}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#858585;border-color:#858585}

.btn-primary .badge{color:#858585;background-color:#fff}

.nav-parent {
	padding: 0 10% 0 10%;
	background-color: #fdde6a;
}

.nav-parent-index {
	padding: 0 10% 0 10%;
	width: 100%;
	background-color: #fdde6a;
	border: 0;
	bottom: 0;
	display: block;
	position: absolute;
	z-index: 1;
}

.nav-container {
	list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: himalaya;
    font-size: 20pt;
    overflow: hidden;
    background-color: #fdde6a;
}

.nav-container  li {
    float: left;
    height: auto;
	display: block;
    text-align: center;
    padding: 15px;
    width: 20%;
	color:#fff;
}

.nav-container  li a {
	color:#6f6f6f;
    text-decoration: none;
}

.nav-container  a:hover {
    color: white;
}

.logo-setter{
	width: 50%;
}

@media (max-width: 920px){
	.nav-container {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-family: himalaya;
		font-size: 14pt;
		overflow: hidden;
		background-color: #fdde6a;
	}
	.logo-setter{
	width: 50%;
}
}

@media (max-width: 1200px){
	.nav-container {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-family: himalaya;
		font-size: 14pt;
		overflow: hidden;
		background-color: #fdde6a;
	}
	.logo-setter{
		width: 60%;
	}
	.button-home{
		font-size: 14pt;
	}
}

@media (max-width: 720px){
	.nav-container {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-family: himalaya;
		font-size: 10pt;
		overflow: hidden;
		background-color: #fdde6a;
	}
	.logo-setter{
		width: 60%;
	}
	.button-home{
		font-size: 12pt;
	}
}

@media (max-width: 520px){
	.nav-container {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-family: himalaya;
		font-size: 6pt;
		overflow: hidden;
		background-color: #fdde6a;
	}
	.logo-setter{
		width: 70%;
	}
	.button-home{
		font-size: 10pt;
	}
}


.body-element {
	margin-top: 30pt;
	margin-bottom: 44pt;
}

.body-element > h1 {
	font-family: Laudanum;
	font-size: 44pt;
	color: #fdde6a;
	margin-bottom: 0;
}

.body-element a {
	text-decoration: none;
	font-weight: bold;
	color: #fdde6a;
}

.body-element {
	margin-top: 30pt;
	margin-bottom: 44pt;
}

.body-element > h1 {
	font-family: Laudanum;
	font-size: 44pt;
	color: #fdde6a;
	margin-bottom: 10pt;
}

.body-element a {
	text-decoration: none;
	font-weight: bold;
	color: #fdde6a;
}

.body-element-story {
	margin-top: 30pt;
}

.body-element-story > h1 {
	font-family: Laudanum;
	font-size: 44pt;
	color: #fdde6a;
	margin-bottom: 0;
}

.body-element-story a {
	text-decoration: none;
	font-weight: bold;
	color: #fdde6a;
}

.body-caption {
	margin-top: 0;
	font-family: himalaya;
	font-size: 10pt;
	color: #555;
	line-height: 10%;
}

.body-content-title {
	font-family: himalaya;
	font-size: 20pt;
	color: #555;
}

.body-content {
	font-family: himalaya;
	font-size: 14pt;
	color: #555;
}

.body-content-list {
	font-family: himalaya;
	font-size: 14pt;
	color: #555;
}


.content {
	padding-right: 15%;
	padding-left: 15%;
}

.title-container {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.title > h1 {
	float: left;
	color: #999;
	font-family: Laudanum;
    border-bottom: 8px solid #999;
    font-size: 24pt;
    display: inline-block;
    margin-right: 3px;
}

.title > h1 a{
	text-decoration: none;
	color: #999;
}

.title > h1 a:hover{
	text-decoration: none;
	color: #444;
	border-bottom: 8px solid #444;
}

.title-selected > h1 {
	float: left;
	color: #fdde6a;
	font-family: Laudanum;
    border-bottom: 8px solid #fdde6a;
    font-size: 28pt;
    display: inline-block;
    margin-right: 3px;
}

footer {
	background: #fdde6a;
	color: #6f6f6f;
    clear: both;
	text-align: right;
    position: relative;
    padding: 20pt;
    z-index: 10;
    height: auto;
}

.quotes {
	font-family: himalaya;
	color: #6f6f6f;
	font-style: italic;
	margin-bottom: 10pt;
	font-size: 13pt;
}

.right{
	background: none;
}

.body-content-list {
}
